.button {
  padding: 9px 18px 7px;
  font-size: 12px;
  color: var(--material-text);
  cursor: pointer;
  background-color: var(--material);
  border: none;
  box-shadow: var(--shadow-out);
}

.button:active {
  padding: 10px 18px 6px;
  outline: 1px solid var(--border-darkest);
  outline-offset: calc(-5px);
  box-shadow: var(--shadow-out);
}

.button:disabled {
  color: var(--material-text-disabled);
}

.button:focus {
  outline: 1px dotted var(--material-text);
  outline-offset: calc(-5px);
  box-shadow: var(--shadow-out);
}
