.webcam-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.125em;
  background: var(--canvas);
  border: 3px solid;
  border-color: var(--border-dark) var(--border-light) var(--border-light) var(--border-dark);
}

.canvas {
  flex: 1;
  aspect-ratio: 4/3;
  object-fit: cover;
  background: var(--canvas);
}
