.window {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 320px;
  max-width: 480px;
  padding: 2px;
  background-color: var(--material);
  border: 2px solid;
  border-color: var(--border-lightest) var(--border-darkest) var(--border-darkest)
    var(--border-lightest);
  box-shadow: var(--shadow-out);
}

.window-header {
  display: flex;
  gap: 0.4em;
  align-items: center;
  justify-content: space-between;
  padding: 2px 4px;
  color: var(--header-text);
  cursor: move;
  background-color: var(--header-background);
}

.window-title {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  white-space: nowrap;
}

.window-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 6px;
  margin-inline-end: 1px;
}
