.window {
  top: 50px;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 480px;
  padding: 2px;
  background-color: var(--material);
  border: 2px solid;
  border-color: var(--border-lightest) var(--border-darkest) var(--border-darkest)
    var(--border-lightest);
  box-shadow: var(--shadow-out);
}

.window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 4px;
  font-size: 11px;
  font-weight: bold;
  color: var(--header-text);
  cursor: move;
  background-color: var(--header-background);
}

.flip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.25em 0.1em;
}

.photo {
  display: flex;
  justify-content: center;
  padding: 0.25em 0.25em 0.5em;
}

.photo-button {
  background: red;
}

/* canvas */
.canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.125em;
  background: var(--canvas);
  border: 3px solid;
  border-color: var(--border-dark) var(--border-light) var(--border-light) var(--border-dark);
}

#canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: var(--canvas);
}
