@font-face {
  font-family: ms-sans;
  font-style: normal;
  font-weight: normal;
  src: url('./../assets/fonts/MS\ Sans\ Serif.ttf') format('truetype');
}

@font-face {
  font-family: ms-sans;
  font-style: normal;
  font-weight: bold;
  src: url('./../assets/fonts/MS\ Sans\ Serif\ Bold.ttf') format('truetype');
}

:root {
  --anchor: #1034a6;
  --anchor-visited: #440381;
  --border-dark: #848584;
  --border-darkest: #0a0a0a;
  --border-light: #dfdfdf;
  --border-lightest: #fefefe;
  --canvas: #fff;
  --canvas-text: #0a0a0a;
  --canvas-text-disabled: #848584;
  --canvas-text-disabled-shadow: #fefefe;
  --canvas-text-invert: #fefefe;
  --checkmark: #0a0a0a;
  --checkmark-disabled: #848584;
  --desktop-background: #008080;
  --flat-dark: #9e9e9e;
  --flat-light: #d8d8d8;
  --focus-secondary: #fefe03;
  --header-background: #060084;
  --header-not-active-background: #7f787f;
  --header-not-active-text: #c6c6c6;
  --header-text: #fefefe;
  --hover-background: #060084;
  --material: #c6c6c6;
  --material-dark: #9a9e9c;
  --material-text: #0a0a0a;
  --material-text-disabled: #848584;
  --material-text-disabled-shadow: #fefefe;
  --material-text-invert: #fefefe;
  --progress: #060084;
  --tooltip: #fefbcc;
  --destructive: #f00;
  --destructive-text: #fefefe;
  --destructive-text-disabled: #848584;
  --input-background: #fefefe;
  --input-background-disabled: #d8d8d8;
  --font-size: 14px;
  --font-family: 'ms-sans', sans-serif;
  --font-weight: normal;
  --shadow-out: inset 0.5px 0.5px 0px 0.5px var(--border-lightest),
    inset 0 0 0 1px var(--border-dark), 1px 0px 0 0px var(--border-darkest),
    0px 1px 0 0px var(--border-darkest), 1px 1px 0 0px var(--border-darkest);
  --shadow-in: inset 0px 0px 0px 0px, inset 1px 1px 0px 0px var(--border-dark),
    0.5px 0.5px 0px 0.5px var(--border-lightest);
  --shadow-input: inset -1px -1px 0 0 var(--material), inset 1px 1px 0 0 var(--border-darkest),
    0.5px 0.5px 0 0.5px var(--border-lightest);
}

* {
  box-sizing: border-box;
}

h1,
h2,
p,
ul {
  padding: 0;
  margin: 0;
}

body,
html {
  padding: 0.25em;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--material-text);
  background-color: var(--desktop-background);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.border-border {
  border-color: var(--border-lightest) var(--border-darkest) var(--border-darkest)
    var(--border-lightest);
  border-style: solid;
  border-width: 2px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding: 6px;
}

/* 버튼 래퍼 내부 버튼들 */
.button-wrapper button {
  min-width: 70px;
}

/* 컨텐츠 영역 */
.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 6px;
  margin-block-start: 4px;
  margin-inline-end: 1px;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  border-width: 1px;
  border-bottom-color: var(--border-dark);
  border-bottom-style: solid;
  box-shadow: 0 1px 0 0 var(--border-light);
}

.menu-item {
  position: relative;
  padding-right: 6px;
  padding-left: 6px;
  user-select: none;
}

.menu-item ul {
  position: absolute;
  left: 0;
  color: var(--material-text);
}

.button {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em;
  font-size: 12px;
  color: var(--material-text);
  cursor: pointer;
  background: var(--material);
  border: 1px solid;
  border-color: var(--border-lightest) var(--border-darkest) var(--border-darkest)
    var(--border-lightest);
}

.button:active {
  border-color: var(--border-darkest) var(--border-lightest) var(--border-lightest)
    var(--border-darkest);
}
