.border-border {
  border-style: solid;
  border-width: 2px;
  border-left-color: var(--border-lightest);
  border-top-color: var(--border-lightest);
  border-right-color: var(--border-darkest);
  border-bottom-color: var(--border-darkest);
}

.button {
  background: var(--material);
  border: 1px solid;
  border-top-color: var(--border-lightest);
  border-left-color: var(--border-lightest);
  border-right-color: var(--border-darkest);
  border-bottom-color: var(--border-darkest);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  padding: 0.25em 0.4em;
  gap: 0.25em;
  color: var(--material-text);
}

.button:active {
  border-top-color: var(--border-darkest);
  border-left-color: var(--border-darkest);
  border-right-color: var(--border-lightest);
  border-bottom-color: var(--border-lightest);
}

.icon {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
}
